:root{
    text-decoration-skip-ink:  rgb(17, 146, 201);
}

*{
    margin:0; padding:0;
box-sizing: border-box;
font-family: Verdano, Geneva, Tahoma, sans-serif;
outline: none; border:none;
text-decoration: none;
text-transform: capitalize;
transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;

}

section{
    padding: 2rem 9%;
    font-size: 5rems;
}

header{
    position: fixed;
    top:0; left:0; right: 0;
    background: rgb(210, 7, 232);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);

}
header .logo{
    font-size: 3rem;
    color: rgb(0, 0, 0);
     font-weight: bolder;
     font-style: bold;

}
header .logo span{
    color:var(--blue);
}
header .navbar a{
    font-size: 3rem;
    padding:0 1.5rem;
    color:black;
}
header .navbar a:hover{
    color:var(--blue);
    
} 
header .icons a{
    font-size: 3rem;
    color: blueviolet;
    margin-left: 2rem;

}

header .icons a:hover{
    color:blue
}

header #toggler{
    display: none;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    min-height: 150vh;
    background: url(hos.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


 
.header-content{
    margin-bottom: 200px;
    color: black;
    text-align: center;
    max-width: 60rem;
}

    .header-content h2{
        font-size: 9vmin;
        color: rgb(52, 7, 150);

    }
    .header-content h1{
        font-size: 6vmin;
        color: rgb(46, 104, 135);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 50px;
        margin-bottom: 30px;

    }

    .ctn {
        padding: 8px 15px;
        background: black;
        border-radius: 50px;
        color: whitesmoke;
    }
    ul {
        list-style: none;


    }

    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 30px;
        color: #333;
        background-color: rgb(191, 218, 241);


        }
        .nav-links {
          display: flex;
          align-items: center;

        }
        .nav-links li{
            margin: 0 30px;
        }

        .footer{
            width: 600px;
            height: 0px;
            padding: 30px;
            margin: 0;
            background: rgb(142, 229, 219);
            text-align: center;
        }
        .footer p{
            color: rgb(243, 243, 243);
            margin: 20px auto;
            padding: 30px auto;
            font-size: 40px;

        }

    


    